<h1>Users#show for <%= @user.name.humanize %></h1>
<%= avatar_image_tag(@user, 100, "ui rounded image") %>
<% if @user == current_user %>
  <%= link_to "edit profile", edit_user_registration_path %>
<% elsif user_signed_in? && !Connection.connected?(current_user, @user) %>
  <%= content_tag :a, "add motimate", class: "modal-link" %>
<% end %>
<h2>Goals</h2>
<div id="goals">
  <% if @user.goals.empty? %>
    <% if @user == current_user %>
      <p>Create your first goal <%= link_to "here", new_user_goal_path(current_user) %></p>
    <% else %>
      <p>This user has no goals yet.</p>
    <% end %>
  <% else %>
    <% @user.goals.each do |goal| %>
      <p><%= goal.name %>: <%= goal.description %></p>
    <% end %>
    <%= link_to "Add another goal", new_user_goal_path(current_user) %>
  <% end %>
</div>
<h2>Motimates
</h2>
<div id="<%= "user-" if @user == current_user %>motimates" data-id="<%= @user.id %>">
</div>
