<h1>Your new goal</h1>

<%= @goal.user.name %>

<%= form_with model: @goal, url: user_goals_path, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= collection_select :goal, :community_id, Community.all, :id, :name, prompt: "Select best-fitting community" %>

  <%= f.submit %>
<% end %>
