<!DOCTYPE html>
<html>
  <head>
    <title>Motimates</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui large fixed menu">
      <a class=" active item">
        Home
      </a>
      <div class="ui simple dropdown item">
        <span class="text">Browse</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">Goals</a>
          <a class="item">Communities</a>
          <a class="item">Motimates</a>
        </div>
      </div>
      <div class="right menu">

        <% if !user_signed_in? %>
          <div class="link item">
            <%= link_to "Sign up", new_user_registration_path %>
            <!-- <div class="visible content">Sign-up</div> -->
            <!-- <div class="hidden content">
              BITCH
            </div> -->
        </div>
        <div class="item">
          <%= link_to "Log In", new_user_session_path %>
      </div>
    <% else %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% end %>

  </div>
</div>
<div class="ui main container">

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
