<!DOCTYPE html>
<html>
  <head>
    <title>Motimates</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="ui large teal inverted borderless fixed menu">
      <a href="" class="ui item"><%= image_tag "motimates_logo.png", :alt => "Motimates logo", :class => "ui mini middle aligned image" %></a>
      <a class="active item">
        Home
      </a>
      <div class="ui simple dropdown item">
        <span class="text">Browse</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">Goals</a>
          <a class="item">Communities</a>
          <a class="item">Motimates</a>
        </div>
      </div>
        <% unless user_signed_in? %>
          <%= link_to "Sign up", new_user_registration_path, :class => "right item" %>
          <%= link_to "Log In", new_user_session_path, :class => "item" %>
        <% else %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "right item" %>
        <% end %>
    </nav>
    <div class="ui main container">
      <%= render "layouts/flash_message" %>
      <%= yield %>
    </div>
  </body>
</html>
