<!DOCTYPE html>
<html>
  <head>
    <title>Motimates</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="ui large teal inverted borderless fixed menu">
      <a href="/" class="ui item"><%= image_tag "motimates_logo.png", :alt => "Motimates logo", :class => "ui mini middle aligned image" %></a>
      <% if user_signed_in? %>
        <%= link_to "Home", user_path(current_user), :class => "item" %>
      <% end %>
      <div class="ui simple dropdown item">
        <span class="text">Browse</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <% if user_signed_in? %>
            <%= link_to "Motimates", user_connections_path(current_user), :class => "item" %>
            <%= link_to "Goals", user_goals_path(current_user), :class => "item" %>
          <% end %>
          <%= link_to "Communitites", communities_path, :class => "item" %>
        </div>
      </div>
        <% unless user_signed_in? %>
          <%= link_to "Sign up", new_user_registration_path, :class => "right item" %>
          <%= link_to "Log In", new_user_session_path, :class => "item" %>
        <% else %>
          <%= link_to user_path(current_user), :class => "right item" do %>
            <i class="large icons">
              <i class="users icon"></i>
              <i class="bottom right corner pink circle icon"></i>
            </i>
          <% end %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "item" %>
        <% end %>
    </nav>
    <div class="ui main container">
      <%= render "layouts/flash_message" %>
      <%= yield %>
    </div>
    <footer>Motimates</footer>
  </body>
</html>
